.title{
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 5%;
  font-size: 50px;
}

.info_detail{
  font-size: 40px;
  font-weight: 300;
}

.infoBox{
  display: flex;
  margin-top: 3%;
  margin-bottom: 1%;
  align-items: center;
}

.dubtn{
  margin-left: auto;
  margin-top:15px;
}

.delbtn, .uptbtn{
  font-size: 11px;
  border: 0;
  margin-bottom: 0;
}

.whomade{
  padding-top: 15px;
  color: #848484;
  font-size: 14px;
}

.whomadebox{
  margin-bottom:0;
  display: flex;
  margin-top: 30px;
  border-bottom: 2px solid #FAE5DB;
}
.uptbtn{
  border-left: 1px solid black;
  margin-left: 3px;
  border-radius: 0;
  padding-left: 10px;
  color: black;
  --bs-btn-hover-color: black;
}

.delbtn{
  padding-right: 0;
  color: red!important;
}

.uptbtn, .delbtn{
  margin-left: 1em;
  background-color: white!important;
}

.submit-update{
  --bs-btn-bg: #ffaf88;
  --bs-btn-color: white;
  --bs-btn-border-color:#ffaf88;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #ffaf88;
  --bs-btn-hover-border-color: #ffaf88;
  --bs-btn-active-color: white; 
  --bs-btn-active-bg: #ffaf88;
}

.filecontrol{
  margin-top:1px;
}

.replycontrol{
  height: 40px;
}


.submitreply{
  margin-top: 5px;
}

.submitreply, .paybtn{
  --bs-btn-bg: #ffaf88;
  --bs-btn-color: white;
  --bs-btn-border-color:#ffaf88;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #ffaf88;
  --bs-btn-hover-border-color: #ffaf88;
  --bs-btn-active-color: white; 
  --bs-btn-active-bg: #ffaf88;
}

.replylist{
  font-size: 30px;
}

.detailbox{
  margin-top: 30px;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  min-width: 100%;
  flex-direction: column;
  border-bottom: 2px solid #FAE5DB;
}

.submitbox{
  padding-right: 0;
}

.detail_item{
  margin-bottom: 5px;
  font-size: 20px;
}

.challenge_detail{
  display: inline-block;
  margin-top:3%;
  padding-bottom: 30px;
}

.applybtn{
  margin-top: 15px;
  --bs-btn-bg: #ffaf88;
  --bs-btn-color: white;
  --bs-btn-border-color:#ffaf88;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #ffaf88;
  --bs-btn-hover-border-color: #ffaf88;
  --bs-btn-active-color: white; 
  --bs-btn-active-bg: #ffaf88;
}

.replylabel{
  font-size: 30px;
}

.submitreply, .paybtn{
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: #white;
  --bs-btn-disabled-border-color: black;
}

.finishmessage{
  text-align: center;
}

.recommend-heart{
  color: red;
  font-size: 25px;
  margin-right: 10px;
}