.password_update, .email_update, .phoneNumber_update, .userinfo{
  border: 1px solid;
  margin-top: 10px;
  border-color: lightgrey;
}


.numberControl{
  height: 40px;
  display: flex;
}

.numberUpdate{
  position: relative;
  display: inline-flex;
  justify-content: center;
  min-width: 78px;
}